{{>head}}
{{>navbar}}
{{>header}}
{{>languages}}

<main class="container main-borders-top main-borders-bottom" id="events-main">

    <div class="row" id="events-first-section">
        <div class="col-12">
            <h2>Browse Upcoming Brasileirão Events</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas officia cumque beatae, alias rerum a eum repellendus accusantium recusandae nobis aspernatur aut deleniti voluptatibus impedit, ipsa autem expedita illo. Odit.</p>
        </div>
    </div>

    <div class="row" id="events-second-section">
        <!-- Events are generated here-->
    </div>

    <div class="row mt-3" id="events-third-section">
        <div class="col-12">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas officia cumque beatae, alias rerum a eum repellendus accusantium recusandae nobis aspernatur aut deleniti voluptatibus impedit, ipsa autem expedita illo. Odit.</p>
        </div>
    </div>

</main>


{{>trademark}}
{{>footer}}
{{>foot}}