{{>head}}
{{>navbar}}

{{>header}}
{{>languages}}

<main id="main-fanclub-page">
    <div class="container main-borders-top"></div>
    <div class="container" id="fanclub-first-section">
        <div class="row">
            <div class="col-12">
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem optio temporibus repellat cumque nemo earum distinctio! Unde </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in illum velit ipsa a quasi distinctio vero facilis explicabo unde voluptas adipisci veritatis at, esse eos obcaecati laboriosam commodi voluptatem quo molestias sint, culpa nulla.</p>
            </div>
            <div class="col-12 col-lg-4">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in illum velit ipsa a quasi distinctio vero facilis explicabo unde voluptas adipisci veritatis at, esse eos obcaecati laboriosam commodi voluptatem quo molestias sint, culpa nulla.</p>
            </div>
            <div class="col-12 col-lg-4">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in illum velit ipsa a quasi distinctio vero facilis explicabo unde voluptas adipisci veritatis at, esse eos obcaecati laboriosam commodi voluptatem quo molestias sint, culpa nulla.</p>
            </div>

        </div>
    </div>

    <div id="fanclub-second-section">
    </div>



    <div class="container" id="fanclub-third-section">
        <div class="row">
            <div class="col-12">
                <h4>Who is welcome to join?</h4>
                <p>Our fan club is a MUST for people answering to the below criteria: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-img-container">
                <img class="img-fluid hoverable" src="/img/friends-playing-video-games.jpg" alt="Friends Playing Video Games">
                <p class="img-text">You like to stay connected to the game at all times...</p>
            </div>

            <div class="col-4 col-img-container">
                <img class="img-fluid hoverable" src="/img/dog-playing-soccer.jpg" alt="Dog Playing Soccer">
                <p class="img-text">Your dog is an inseparate part of your team...</p>
            </div>
            <div class="col-4 col-img-container">
                <img class="img-fluid hoverable" src="/img/soccer-friends.jpg" alt="Soccer Friends">
                <p class="img-text">OR football is simply what you do and love...</p>
            </div>


        </div>
        <div class="row">
            <div class="col-12">
                <h4>We are looking for you!</h4>

            </div>
        </div>
    </div>






    <div class="container main-borders-bottom"></div>
</main>



{{>footer}}
{{>foot}}