{{>head}}
{{>navbar}}
{{>languages}}

<div class="white-box" id="top-white-box"></div>

<div class="container-fluid" id="index-first-section">
    <div class="row first-row">
        <div class="col-lg-3 d-none d-lg-flex align-items-end">
            <img src="/img/soccer-player.png" alt="Soccer Player" class="img-fluid animated fadeInLeft delay-1s">
            <img src="/img/ball.png" alt="Soccer Ball" class="img-fluid">
        </div>
        <div class="col-12 col-lg-9 ">

            <div class="row">
                <div class="col-12 col-lg-6 mx-auto animated fadeIn delay-2s" id="next-match-column">

                    <div class="next-match-teams">
                        <!--Upcoming Match is generated Here-->
                    </div>

                </div>
                <div class="col-12 col-lg-4 ml-auto " id="teams-column">
                    <h6>Series A <br>Current Ranking</h6>
                    <ol class="teams-list">


                    </ol>
                </div>
            </div>
        </div>

        </p>
    </div>

    {{>foot}}