{{>head}}

{{>header}}

<div class="container-fluid" id="first-section">
    <div class="row first-row">
        <div class="col-lg-4 d-none d-lg-flex align-items-end">
            <img src="/img/soccer-player.png" alt="Soccer Player" class="img-fluid animated fadeInLeft delay-1s">
            <img src="/img/ball.png" alt="Soccer Ball" class="img-fluid">
        </div>
        <div class="col-12 col-lg-8 ">
            <h1>Lorem, ipsum dolor</h1>
            <div class="row">
                <div class="col-12 col-lg-8">

                </div>
                <div class="col-12 col-lg-4" id="teams-column">
                    <h4>Series A Current Ranking</h4>
                    <ol class="teams-list">
                        <div>
                            <li><img src="/img/teams/acdf.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/avai.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/botafogo.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/cam.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/spfc.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/fortaleza.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/goias.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/gremio.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/palmeiras.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                            <li><img src="/img/teams/scinternacional.png" alt=""><span class="team-name">Lorem Lorem</span> <span class="team-points">10</span></li>
                        </div>

                    </ol>
                </div>
            </div>
        </div>

        </p>
    </div>



    {{>footer}}

    {{>foot}}