{{>head}}
{{>navbar}}
{{>header}}
{{>languages}}


<main class="container" id="main-league">
    <div class="row" id="league-first-section">
        <div class="col-12 col-lg-4 league-first-section-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, quisquam modi! Nostrum nam et facere vitae necessitatibus voluptatum, quo adipisci </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, quisquam modi! Nostrum nam et facere vitae necessitatibus voluptatum, quo adipisci </p>
        </div>
        <div class="col-12 col-lg-4 league-first-section-image">
            <img src="/img/brasileirao-cup.png" class="img-fluid " alt="Brasileirao Cup">
        </div>
        <div class="col-12 col-lg-4 league-first-section-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, quisquam modi! Nostrum nam et facere vitae necessitatibus voluptatum, quo adipisci</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, quisquam modi! Nostrum nam et facere vitae necessitatibus voluptatum, quo adipisci </p>
        </div>
    </div>





    <div class="row" id="league-second-section">
        <div class="col-12 <!--d-lg-none -->">
            <div class="dropdown stadium-dropdown-div">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="stadiumsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu stadiums-dropdown-menu" aria-labelledby="stadiumsDropdownButton">
                    <a class="stadium-item" href="#">Action</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-flex">
            <div class="stadium-list-div">
                <ul class="stadium-list">


                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="stadiums-output d-flex flex-row justify-content-between">
                <div class="stadium-content-div">
                    <h3 class="stadium-name">asd</h3>
                    <h5 class="stadium-city">asd</h5>
                    <h5 class="stadium-capacity">asd</h5>
                    <h5 class="stadium-year-opened">asdads</h5>
                    <h5 class="stadium-home-team">asddsa</h5>
                </div>
                <div class="stadium-image-div">
                    <img class="stadium-image" src="/img/soccer-field.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</main>

{{>footer}}
{{>foot}}