{{>head}}
{{>navbar}}
{{>header}}
{{>languages}}

<main class="container main-borders-top main-borders-bottom" id="teams-main">
    <div class="row" id="teams-first-section">
        <div class="col-12">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores nesciunt, quos corrupti quod nam distinctio et cumque doloremque iusto dolore tempore consequatur nostrum sequi aliquam blanditiis. Sint dolorem consequuntur maxime.</p>
        </div>
    </div>
    <div class="row" id="teams-second-section">
        <div class="col-lg-2 d-none d-lg-block teams-football-player">

        </div>
        <div class="col-12 col-lg-10">
            <div class="row teams-info-logos">
                <!-- LOGO CARDS ARE GENERATED HERE -->
            </div>
        </div>
    </div>
    <div class="row" id="teams-third-section">
        <div class="col-12">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores nesciunt, quos corrupti quod nam distinctio et cumque doloremque iusto dolore tempore consequatur nostrum sequi aliquam blanditiis. Sint dolorem consequuntur maxime.</p>
        </div>
    </div>

</main>

{{>trademark}}
{{>footer}}
{{>foot}}