@font-face {
    font-family: "copperplate";
    src: url("../font/copperplate_gothic_bold_regular.ttf");
}

@font-face {
    font-family: "himalaya";
    src: url("../font/himalaya.ttf");
}

//Background images
$grassBackground: url("../img/grass-small.png");

//Background colors
$greenBackgroundTransp:rgba(42,83,26,0.6);

//Colors
$bodyBackground: #f2fafc;
$blueButtonColor: #0b51c5;
$blueButtonHover: #0043af;
$mainBordersColor:  #bfd9e2;

$navbar: #b6b5b5;
$navbarActive: white;


//Glows
$elementGlow: 0px 0px 40px 10px #f2fafc;

//Fonts
$menuFont: copperplate;
$buttonFont: himalaya;

.row {
    margin-left: 0;
    margin-right: 0;
}

body {
    overflow-x: hidden;
    background-color: $bodyBackground;
    position: relative;
}


* {
    z-index: 5;
    h1 {
        font-size: 4.2rem;
    } 
    h2 {
        font-size: 4rem;;
    } 
    h3 {
        font-size: 3.5rem;;
    } 
    h4 {
        font-size: 3rem;;
    } 
    h5 {
        font-size: 2rem;;
    } 
    h6 {
        font-size: 1.3rem;;
    } 
    p {
        font-size: 1rem;;
    }
}

// main {
//     border-top: $mainBorders;
//     border-bottom: $mainBorders;

// }

.main-borders-top {
    border-top: 1px dotted $mainBordersColor;
    margin-top: 40px;
    padding-top: 40px;
    
}

.main-borders-bottom {
    border-bottom: 1px dotted $mainBordersColor;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

//Languages
#languages-div{
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 0;
    z-index: 1050;

    background-image: $grassBackground;
    background-size: 200px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px 15px;

    .language-icon {
        height: 30px;
        margin: 0 5px;
    }
}
//Finish Languages

// White Boxes
.white-box {
    background-color: $bodyBackground;
    position: absolute; 

}
// Finish White boxes

//Header 
header {
    position: relative;
    background-attachment: fixed;
    min-height: 350px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
     &.league-page-class {
        background-image: url('/img/soccer-field.jpg');
            background-position: bottom;
    }
    &.teams-page-class {
        background-image: url('/img/soccer-team.jpg');
    }
    &.fanclub-page-class {
        background-image: url('/img/soccer-fans.jpg');
    }
    &.events-page-class {
        background-image: url('/img/events.png');
        background-size: cover;
        background-position: top center;
    }
    &.tickets-page-class {
        background-image: url('/img/ticket1.png');
        background-position: center;
    }

    .white-box {
        bottom: -430px;
        left: -150px;
        height: 500px;
        width: 150%;
        transform:rotate(5deg);   
        z-index: 1;
    }
    .header-page-elements {
        z-index: 2;
        position: absolute;
        width: 70%;
        left: 10vw;
        bottom: 0;

   
    }
}
//Finish Header


//Footer
footer {
    position: relative;
    background-attachment: fixed;
    min-height: 350px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    &.league-page-class {
        background-image: url('/img/soccer-field.jpg');
    }
    &.teams-page-class {
        background-image: url('/img/soccer-team.jpg');
    }
    &.fanclub-page-class {
        background-image: url('/img/soccer-fans.jpg');
    }
    &.events-page-class {
        background-image: url('/img/events.png');
        background-size: cover;

        background-position: bottom right;
    }
    &.tickets-page-class {
        background-image: url('/img/ticket1.png');
        background-position: top;
    }

    .white-box {
        top: -400px;
        right: -150px;
        height: 500px;
        width: 150%;
        transform:rotate(-5deg);   
        z-index: 1;
    }
    .footer-page-elements {
        z-index: 5;
        position: absolute;
        width: 70%;
        left: 10vw;
        top: 0;
        color: black;

    }
}
//Finish Footer

// Navbar
.navbar {
    background-image: $grassBackground;
    background-size: 200px;
    background-repeat: repeat;

    border-radius: 30px;
    border:3px solid white;
    margin-top: 20px;

    box-shadow: $elementGlow;
    &.container {
        width: 95%;
    }
    .navbar-collapse {
        z-index: 6;
        .nav-item {
            .nav-link {
                color: $navbar!important;
                font-family: $menuFont;
                padding: .2rem 0.8vw;
                text-transform: uppercase;
                letter-spacing: 0.4px;  
            }
            &.active {
                .nav-link {
                    color: $navbarActive!important;
                    
                }
            }

            
        }
    }
    

    .logo-div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        order: -1;
       
        a.navbar-brand {
            margin-right: 0;
            img {
                height: 70px;
                z-index: 6;
            }
        }
        
    }
   
}
// Finish Navbar 

// ---------------INDEX PAGE -----------------
// #index-first-section
#index-first-section {
    background-image: url('../img/soccer-field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .first-row {
        height: 100%;
        padding-top: 130px;
    }
    img[alt="Soccer Player"] {
        max-height: 600px;
    }
    img[alt="Soccer Ball"] {
        max-height: 60px;
        position: absolute;
        right: 0;
        bottom: 20px;
        animation: ball-kick 3s ;
        animation-delay: 1s;
        transition: 3s;
        z-index: 1;
        opacity: 0;
    }

}

#next-match-column {
    background-color: rgba(242, 250, 252, 0.8);
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: $elementGlow;
    padding-left: 0;
    padding-right: 0;
 
    .next-match-teams {
         .card {
            background-color: transparent;
            box-shadow: none;
            display: flex;
            .card-body {
                display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .card-title-date {
                        padding-left: 2rem;
                        padding-right: 2rem;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                .card-text {
                    font-size: 1.2rem;
                    color: #000000;
                }
                img {
                    max-height: 50px;
                }
                
            }
            .stadium-pic-div {
                text-align: center;;
                img {
                    max-width: 100%;

                }
            }
        }
    }
   
    z-index: 3;

}

#teams-column {
    background-color: $greenBackgroundTransp;
    padding: 10px 20px 0 20px;
    margin: 40px 0 10px 0;
    border-radius: 20px;
    border: 3px solid white;
    h6 {
        color: white;
        margin-bottom: 20px;
        border-bottom:1px solid white;
    }
    .teams-list {
        list-style-type: none;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        li {
            color: white;
            margin: 8px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img {
                height: 30px;
                text-align: center;
            }
        }
    }
}

@keyframes ball-kick {
   
    0%{
        max-height: 60px;
        right: 300px;
        bottom: 20px;
        opacity: 0;
    }
    12%{
        max-height: 60px;
        right: 0;
        bottom: 20px;
    }
    50%{
       right: -350px;
       bottom: 350px; 
       opacity: 1;
    }
    75%  {
        opacity: 1;
    }
    100% { 
        opacity: 0;
        max-height: 10px;
        right: -300px;
        bottom: 300px;
        display: none;
    }
}
// Finish index-first-section
// ---------------FINISH INDEX PAGE -----------------

// --------------- LEAGUE PAGE-----------------

#league-first-section {
    margin-top:40px;
    margin-bottom: 0;
    .league-first-section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:20px;
        text-align: justify;
    }
    .league-first-section-image {
        text-align: center;        
        img {
            max-height: 400px;
        }
    }
}

#league-second-section {
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    .attached-title {
        text-align: center;
        color: white;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-image: $grassBackground;
        background-repeat: repeat;
        background-size: 200px;
        border-radius: 30px;
        border: 3px solid white;
        padding: 10px 20px;
        z-index: 10;
    }
    background-image: $grassBackground;
    background-repeat: repeat;
    background-size: 200px;
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 0 40px 5px $greenBackgroundTransp;

    padding: 20px;
    //On small screens
    .stadium-dropdown-div {
        margin-top: 50px;
        .stadiums-dropdown-menu {
            max-height: 200px;
            overflow-y: scroll;
        }
        button {
            background-color: rgb(49, 95, 30)!important;
        }
    }
    //On big screens
    .stadium-list-div {
        h6 {
            color: white;
            font-weight: bold;
        }
        border-right: 3px solid white;
        ul {
            max-height: 310px;
            min-width: 100%;
            overflow-y: scroll;
            direction: rtl;
            list-style-type: none;
            padding-left: 15px;
            li.nav-item {
                a {
                    color: $navbar;
                    font-weight: bold;
                    &:hover {
                        color: $navbarActive!important;
                    }
                }
               
            }
        }
    }

    .stadiums-output {
        
        max-height: auto;
        overflow: hidden;
        .stadiums-output-content-image {
            padding-top: 10px;
            padding-bottom: 10px;
            .stadium-content-div {
                padding-bottom: 10px;
                max-width: 100%;
                h6,p {
                    font-weight: bold;
                    color: $navbar;
                    margin-bottom: 0.4rem;
                    span {
                        font-weight: normal;
                        color: $navbarActive;
                    }
                }
            }
            .stadium-image-div {
                z-index: 2;
                .stadium-image {
                    max-height: 300px;
                    border-radius: 10px;
                    border: 1px solid white;
                }
            }
        }
        
       
    }
}

#league-third-section {
    margin-top: 50px;
    margin-bottom: 40px;
    background-image: url('../img/flying-kick.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    padding-right: 10px;

    .competition-format-div {
        padding-right: 0;
        padding-left: 0;
        text-align: justify;
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        
        .competition-format-first-list {
            padding-right: 15px;
            padding-left: 15px;
            list-style-type: none;
        }
    }

}
//---------------- FINISH LEAGE PAGE ------------

//---------------- TEAMS PAGE -------------------
#teams-first-section {
    margin-bottom: 30px;
}

#teams-second-section {
    .teams-football-player {
            background-image: url('/img/player-holding-ball.jpg');
            // background-color: green;
            background-position: left center;
            background-size: contain;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100%;
        }
    .teams-info-logos {
        
        .team-column {
            margin-bottom: 10px;
        }
        .team-card {
            height: 100%;
            padding:10px;
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                padding:10px;
            }
        }
    }
    
}

#teams-third-section {
    margin-top: 30px;
}
//---------------- FINISH TEAMS PAGE ---------------

//---------------- FANCLUB PAGE------------------
#fanclub-first-section {
    padding:30px 5vw;
    text-align: center;
    margin-bottom: 30px;
    .row {
        &:nth-child(2) {
            margin-top: 50px;
            text-align: justify;
        }
    }
}

#fanclub-second-section {
    min-height: 200px;
    background-image: url('../img/stadium-fans.png');
    
    background-repeat: no-repeat;
    background-size: contain;
}

#fanclub-third-section {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: #e4efff;
    .row {
        h4 {
            margin-top: 40px;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 30px;
        }
        h4,p {
            text-align: center;

        }
    }
        
    .col-img-container {
        padding: 0;
        max-height: 300px;
        p {
            margin-top: 15px;
            text-align: center;
            font-style: italic;
            padding:5px;
        }
    }
}

#fanclub-fourth-section {
    padding:30px 10vw;
    text-align: center;
}
//----------------- FINISH FANCLUB PAGE-------------

//----------------- EVENTS PAGE------------------
#events-second-section {
    .col-12.col-lg-4 {
        margin: 40px 0;

    }
    .card {
        height: 100%;
    }
}
//----------------- FINISH EVENTS PAGE------------

//-----------------TICKETS PAGE----------------

#tickets-second-section {
    margin-top: 2rem;
    margin-bottom: 2rem;

    form { 
        text-align: center;
        .forms-container{
            text-align: left;
        }
        .form-group {
            padding: 0;
        }
        label {
            font-weight: bold;
        }
    }
}

#tickets-submit-button {
    margin-top: 30px;
}



//-----------------FINISH TICKETS PAGE----------

// Trademark
#trademark {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: rgb(49, 49, 49);
    font-weight: bold;
    text-align: center;
    a {
        color: rgb(129, 129, 129);
        &:hover {
            color: rgb(187, 187, 187);
        }
        img {
            height: 17px;
        }
    }
    
}
// Finish Trademark



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    header {
        &.events-page-class {
            background-size: contain;
            background-position: top;
        }
    }

    footer {
        &.events-page-class {
            background-size: contain;
            background-position: bottom;
        }
    }



    //White boxes
    #top-white-box{ 
        height: 500px;
        width: 100px;
        top: -250px;
        left: 100px;
        transform: rotate(50deg);
        z-index: 2;
        display: inline-block;
    }

    //Finish White boxes
    #languages-div{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1050;
        
        background:initial ;
        border: initial;
        border-radius: initial;
        padding: initial;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        padding: 5px 50px;
        .logo-div {
            display: block;
            order: 0;
            text-align: center;
            width: 20%;
            a.navbar-brand {
                margin-right: 0;
                position: absolute;
                right: 46%;
                top: -40px;
                img {
                    height: 120px;

                }
            }
        }
    }
    #next-match-column {
        padding-left: 15px;
        padding-right: 15px;

        .next-match-teams {
            .card {
                .card-body {
                    img {
                        max-height: 100px;
                    }
                }
                .stadium-pic-div {
                    text-align: center;;
                    img {
                        max-height: 250px;

                    }
                }
            }
        }
    }

    #league-second-section {
        .stadiums-output {
            .stadiums-output-content-image {
                padding-top: 30px;
                .stadium-content-div {
                    max-width: 30%;
                    padding-bottom: 0;
                }
            }
        }
    }
    #league-third-section {
        background-size: contain;
        background-position: bottom;
        .competition-format-div {
            padding-right: 15px;
            padding-left: 15px;
            .competition-format-first-list {
                padding-right: 0;
                padding-left: 0;
            }
        }

    }
    #fanclub-second-section {
        background-size: cover;
        min-height: 500px;
    }

    #tickets-second-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 30px;
        background-color: #e4efff;
        form { 
            .form-group {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
        }
    }

    #tickets-submit-button {
        margin-top: 30px;
        width: 40%;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }