$grassBackground: url("../img/grass-small.png");


// NAvbar
.navbar {
    background-image: $grassBackground;
    background-size: 200px;
    background-repeat: repeat;

    border-radius: 10px;
    border:3px solid white;
    margin-top: 20px;

    &.container {
        width: 95%;
    }
    .nav-item {
        &.active {
            .nav-link {
                color: blue;
            
            }
        }
        .nav-link {
            color: white;
            
        }
        
    }

    .logo-div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        order: -1;
       
        a.navbar-brand {
            margin-right: 0;
            img {
                height: 70px;
            }
        }
        
    }
   
}

.row {
    margin-left: 0;
    margin-right: 0;
}

// #first-section
#first-section {
    background-image: url('../img/soccer-field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    .first-row {
        height: 100%;
        padding-top: 150px;
    }
    img[alt="Soccer Player"] {
        max-height: 600px;
    }
    img[alt="Soccer Ball"] {
        max-height: 90px;
        position: absolute;
        right: 0;
        bottom: 20px;
        animation: ball-kick 4s;
        animation-delay: 1s;
        transition: 3s;
        z-index: 1;
        opacity: 0;
    }

}

#teams-column {
    background-color: rgba(42,83,26,0.6);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid white;
    h4 {
        text-align: center;
        color: white;
        text-decoration: underline;
        margin-bottom: 30px;
    }
    .teams-list {
        padding-left: 10px;
        list-style-type: decimal;
        li {
            color: white;
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            counter-increment: counterName;
            &:before {
                content: counter(counterName);
                position: absolute;

            }
            img {
                height: 30px;
                text-align: center;
                position: relative;
                left: 25px;
            }
        }
    }

}



@keyframes ball-kick {
   
    0%{
        max-height: 90px;
        right: 300px;
        bottom: 20px;
        opacity: 0;
    }
    6%{
        max-height: 90px;
        right: 0;
        bottom: 20px;
    }
    50%{
       right: -350px;
       bottom: 350px; 
       opacity: 1;
    }
    75%  {
        opacity: 1;
    }
    100% { 
        opacity: 0;
        max-height: 10px;
        right: -300px;
        bottom: 300px;
        display: none;
    }
}





// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        
        .logo-div {
            display: block;
            order: 0;
            text-align: center;
            position: absolute;
            a.navbar-brand {
                margin-right: 0;
                img {
                    height: 120px;
                }
            }
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }