@font-face {
    font-family: "copperplate";
    src: url("../font/copperplate_gothic_bold_regular.ttf");
}

@font-face {
    font-family: "himalaya";
    src: url("../font/himalaya.ttf");
}

//Background images
$grassBackground: url("../img/grass-small.png");

//Background colors
$greenBackgroundTransp:rgba(42,83,26,0.6);

//Colors
$bodyBackground: #f2fafc;
$blueButtonColor: #0b51c5;
$blueButtonHover: #0043af;

//Glows
$elementGlow: 0px 0px 40px 10px #f2fafc;

//Fonts
$menuFont: copperplate;
$buttonFont: himalaya;

//Font sizes
$h1: 5vw;
$h2: 4.5vw;
$h3: 4vw;
$h4: 3.5vw;
$h5: 3vw;
$h6: 2.5vw;
$p: 1vw;


.row {
    margin-left: 0;
    margin-right: 0;
}

body {
    overflow-x: hidden;
    background-color: $bodyBackground;
}


* {
    z-index: 5;
}

//Languages
#languages-div{
    position: fixed;
    right: 36%;
    top: 0;
    z-index: 1050;

    background-image: $grassBackground;
    background-size: 200px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px 15px;

    .language-icon {
        height: 30px;
        margin: 0 5px;
    }
}
//Finish Languages

// White Boxes
.white-box {
    background-color: $bodyBackground;
    position: absolute; 

}
// Finish White boxes

//Header 
header {
    &#league-page-id {
        background-image: url('/img/stadium1.png');
    }
    &#teams-page-id {
        background-image: url('/img/soccer-team.jpg');
    }
    &#fanclub-page-id {
        background-image: url('/img/soccer-fans1.png');
    }
    &#events-page-id {
        background-image: url('/img/soccer-event.jpg');
    }
    &#tickets-page-id {
        background-image: url('/img/tickets.jpg');
    }
    position: relative;
    background-attachment: fixed;
    min-height: 350px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .white-box {
        bottom: -430px;
        left: -150px;
        // background-color: green;
        height: 500px;
        width: 150%;
        transform:rotate(5deg);   
        z-index: 1;
    }
    .header-page-elements {
        z-index: 2;
        position: absolute;
        width: 70%;
        left: 10vw;
        bottom: 0;
        .header-page-title {
            font-size: $h2;
        }
        .header-page-summary {
            font-size: $p;
        }
    }
}

//Finish Header


// Navbar
.navbar {
    background-image: $grassBackground;
    background-size: 200px;
    background-repeat: repeat;

    border-radius: 30px;
    border:3px solid white;
    margin-top: 20px;

    box-shadow: $elementGlow;
    &.container {
        width: 95%;
    }
    .navbar-collapse {
        z-index: 6;
        .nav-item {
            .nav-link {
                color: #b6b5b5!important;
                font-family: $menuFont;
                padding: .2rem 1rem;
                text-transform: uppercase;
                letter-spacing: 0.4px;  
            }
            &.active {
                .nav-link {
                    color: white!important;
                    
                }
            }

            
        }
    }
    

    .logo-div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        order: -1;
       
        a.navbar-brand {
            margin-right: 0;
            img {
                height: 70px;
                z-index: 6;
            }
        }
        
    }
   
}
// Finish Navbar 


// #first-section
#first-section {
    background-image: url('../img/soccer-field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .first-row {
        height: 100%;
        padding-top: 130px;
    }
    img[alt="Soccer Player"] {
        max-height: 600px;
    }
    img[alt="Soccer Ball"] {
        max-height: 60px;
        position: absolute;
        right: 0;
        bottom: 20px;
        animation: ball-kick 3s ;
        animation-delay: 1s;
        transition: 3s;
        z-index: 1;
        opacity: 0;
    }

}

#next-match-column {
    background-color: rgba(242, 250, 252, 0.8);
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: $elementGlow;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    h2 {
        color: black;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .next-match-teams {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        h3 {
            color: black;
        }
        img {
            max-height: 120px;
            margin: 20px;
        }
        
    }
    .next-match-info {
        padding: 5px 10px 0;
        i {
            margin-right: 20px;
        }
    }
    a.btn {
        background-color: $blueButtonColor!important;
        width: 75%;
        align-self: center;
        font-size: $h6;
        padding: 0;
        font-family: $buttonFont;
        &:hover {
            background-color: $blueButtonHover!important;

        }
    }
}

#teams-column {
    background-color: $greenBackgroundTransp;
    padding: 10px 20px 0 20px;
    margin: 40px 0 10px 0;
    border-radius: 20px;
    border: 3px solid white;
    h3 {
        text-align: center;
        color: white;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    .teams-list {
        padding-left: 10px;
        list-style-type: decimal;
        li {
            color: white;
            margin: 8px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            counter-increment: counterName;
            &:before {
                content: counter(counterName);
                position: absolute;

            }
            img {
                height: 30px;
                text-align: center;
                position: relative;
                left: 25px;
            }
        }
    }

}



@keyframes ball-kick {
   
    0%{
        max-height: 60px;
        right: 300px;
        bottom: 20px;
        opacity: 0;
    }
    12%{
        max-height: 60px;
        right: 0;
        bottom: 20px;
    }
    50%{
       right: -350px;
       bottom: 350px; 
       opacity: 1;
    }
    75%  {
        opacity: 1;
    }
    100% { 
        opacity: 0;
        max-height: 10px;
        right: -300px;
        bottom: 300px;
        display: none;
    }
}


footer {
    position: absolute;
    bottom: 10px;
    left: 40%;
    // right: 50%;
    color: rgb(49, 49, 49);
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    a {
        color: rgb(129, 129, 129);
        &:hover {
            color: rgb(187, 187, 187);
        }
        img {
            height: 17px;
        }
    }
    
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

    //White boxes
    #top-white-box{ 
        height: 500px;
        width: 100px;
        top: -250px;
        left: 100px;
        transform: rotate(50deg);
        z-index: 2;
        display: inline-block;
    }

    //Finish White boxes
    #languages-div{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1050;
        
        background:initial ;
        border: initial;
        border-radius: initial;
        padding: initial;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        padding: 5px 50px;
        .logo-div {
            display: block;
            order: 0;
            text-align: center;
            width: 20%;
            a.navbar-brand {
                margin-right: 0;
                position: absolute;
                right: 46%;
                top: -40px;
                img {
                    height: 120px;

                }
            }
        }
    }
    #next-match-column {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        h2 {
            margin-top: 20px;
            margin-bottom: 0;
        }
        .next-match-teams {
            h3 {
                color: black;
            }
            img {
                max-height: 200px;
            }
        }
        .next-match-info {
            padding: 5px 50px 0;
            i {
                margin-right: 50px;
            }
        }
    }
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }