<footer class="{{pageClass}}">
    <div class="white-box"></div>
    <div class="container">

        <div class="footer-page-elements">
            <h2>{{footerTitleCTA}}</h2>
            {{footerCTA}}
        </div>
    </div>
</footer>