<div id="languages-div">
    <a href="#"><img src="/img/flags/brazil.png" alt="Brazil Button" class="language-icon"></a>
    <a href="#"><img src="/img/flags/britain.png" alt="Britain Button" class="language-icon"></a>
</div>