@import "/node_modules/bootstrap/scss/_functions.scss";
@import "/node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors: (
    "custom-light-gray" : #b6b5b5,
    "custom-dark-gray" : #545454,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
